//  Подписка Каталога - SUBSCRIBE

.subscribe {
  margin-bottom: 40px;
  position: relative;
}

.subscribe__title {
  @include font-info($primary-font, 24px, 24px);
  margin: 0 0 25px;
  position: relative;

  @include tablet {
    font-size: 40px;
    line-height: 40px;
  }

  &::after {
    content: "";
    height: 2px;
    background-color: $bg-color-primary;
    display: block;
    width: 34px;
    max-width: 100%;
    flex-grow: 1;
    margin: auto -20px auto 40px;

    @include mobile {

      transform: translateX(-50%);
    }

    @include tablet {
      margin: auto -34px auto 40px;
      flex-grow: 1;
    }

    @include desktop {
      position: absolute;
      width: 100%;
      margin: 0;
      top: 89px;
      right: 0;
      left: 0;
    }
  }
}

.subscribe__text {
  @include font-info($primary-font, 16px, 24px);
  text-align: center;
  margin: 0 0 25px;
}

.subscribe__form {
  @include tablet {
    display: flex;
    justify-content: center;
    gap: 0;
  }
}

.subscribe-input {
  @include font-info($primary-font, 20px, 24px);
  text-transform: uppercase;
  color: $font-color-accent;
  height: 56px;
  margin-bottom: 15px;
  padding-left: 11px;

  @include mobile {
    width: 100%;
  }

  @include tablet {
    min-width: 376px;
  }
}

.subscribe-button {
  @include mobile {
    width: 100%;
    height: 56px;
  }

  @include tablet {
    width: 256px;
    height: 56px;
  }
}
